.modal {
    display: none;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    background: #fff;
    border-radius: 4px;
    width: 30%;
    padding: 24px;
}

.modal.show {
    display: block;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-title {
    margin: 0;
}

.modal-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.modal-header button {
    position: absolute;
    top: 16px;
    right: 16px;
}

.modal-body {
    display: flex;
    flex-direction: column;
    gap: 8px;
}