:host {
    display: flex;
    flex-direction: column;
    padding-bottom: 81px;
}

.image-container {
    height: 100%;
    position: relative;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
}


.drawing-canvas {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
}

.delete-box {
    position: absolute;
}

.buttons-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #1d1d20;
    width: calc(100% - 48px);
    padding: 24px;
}

.buttons-group > div {
    display: flex;
    align-items: center;
    gap: 24px;
    flex: 1;
}

.buttons-group > div:nth-child(2) {
    justify-content: center;
}

.buttons-group > div:last-child {
    justify-content: flex-end;
}

.resize-handle {
  position: absolute;
}